[submodule "pack/neovim/start/neomake"]
	path = pack/neovim/start/neomake
	url = https://github.com/neomake/neomake.git
[submodule "pack/delimitmate/start/delimitMate"]
	path = pack/delimitmate/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pack/surround/start/vim-surround"]
	path = pack/surround/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/ctrlp/start/ctrlp.vim"]
	path = pack/ctrlp/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "pack/nerdtree/start/nerdtree"]
	path = pack/nerdtree/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/tcomment/start/tcomment_vim"]
	path = pack/tcomment/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "pack/snippets/start/vim-snipmate"]
	path = pack/snippets/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "pack/tlib/start/tlib_vim"]
	path = pack/tlib/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "pack/mwutils/start/vim-addon-mw-utils"]
	path = pack/mwutils/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "pack/snippets/opt/vim-snippets"]
	path = pack/snippets/opt/vim-snippets
	url = https://github.com/honza/vim-snippets.git
